body {
  background: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.SongName {
  color: white;
  font-family: Arial
 }

.spantime {
  color: white;
  font-weight : bold;
}

.search-box{
  padding-top: 40px;
  padding-left: 40px;

}

.search div, .search input {
  width: 300px;
}

.search input {
  border: 2px solid rgb(243, 139, 114);
  border-bottom: 2px solid rgb(243, 139, 114);
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px;
}

.title {
  font-family: Arial;
  font-weight : bold;
  color: gold;
}

::-webkit-progress-value {
  background-color: orange;
}

.player{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player div{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}


.player .player__backward button, .player .player__forward button{
  background: transparent;
  border: 1px solid rgb(243, 139, 114);
  color: rgb(243, 139, 114);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 15px;
  outline: none;
  margin-right: 3px;
}

.player .player__backward button{
  border-left: none;
}

.player .player__forward button{
  border-right: none;
}

.player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover{
  color: rgba(243, 139, 114, 0.7);
  border: 1px solid rgba(243, 139, 114, 0.7);
}

.player .player__main {
  border: 1px solid rgb(243, 139, 114);
}

.player .player__main button {
  color: rgb(243, 139, 114);
  background: transparent;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 15px;
  outline: none;
}